@model IEnumerable<CoreAdmChamepe.Models.Context.ParticipanteEvento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartcipanteNomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipanteRg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipanteEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipanteTelefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipanteIdade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evento.EventoDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Igreja.IgrejaDescricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartcipanteNomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipanteRg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipanteEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipanteTelefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipanteIdade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evento.EventoDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Igreja.IgrejaDescricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ParticipanteEventoId }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.ParticipanteEventoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ParticipanteEventoId })
        </td>
    </tr>
}

</table>
